<a href="https://colab.research.google.com/github/martinoscarrodriguez/Analisis_y_Visualizacion_TP/blob/main/TP_Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análisis y Visualización de datos
# Entregable #1
# ¿Cuáles son los lenguajes de programación asociados a los mejores salarios?

## Lectura del Dataset

In [60]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy
import pandas as pd
import seaborn
import re

In [61]:
seaborn.set_context('talk')
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
df = pd.read_csv(url)

In [62]:
df[:3]

  profile_gender  ...  company_best_companies_city
0          Mujer  ...                          NaN
1         Hombre  ...                          NaN
2          Mujer  ...                          NaN

[3 rows x 48 columns]

In [63]:
df['work_role']=='Developer'

0       False
1        True
2       False
3       False
4        True
        ...
6090     True
6091    False
6092    False
6093    False
6094    False
Name: work_role, Length: 6095, dtype: bool

##Selección de columnas relevantes para analizar

In [64]:
relevant_columns = ['tools_programming_languages', 'salary_monthly_NETO', 'work_role']

##Preparación de datos: todo lo necesario para facilitar la manipulación de datos y estudio de variables.

In [65]:
# Convert the comma-separated string of languages to a list of string.
# Remove 'ninguno de los anteriores' option, spaces and training commas.
def split_languages(languages_str):
  if not isinstance(languages_str, str):
    return []
  # Remove 'other' option
  languages_str = languages_str.lower()\
    .replace('ninguno de los anteriores', '')
  # Split string into list of items
  # Remove spaces and commas for each item
  return [lang.strip().replace(',', '')
          for lang in languages_str.split()]

# Create a new column with the list of languages
df.loc[:, 'cured_programming_languages'] = df.tools_programming_languages\
    .apply(split_languages)
if 'cured_programming_languages' not in relevant_columns:
    relevant_columns.append('cured_programming_languages') 

# Duplicate each row of df for each programming language
# mentioned in the response.
# We only include in df_lang the columns we are going to analyze later, so we
# don't duplicate innecesary information.
df_lang = df.cured_programming_languages\
    .apply(pd.Series).stack()\
    .reset_index(level=-1, drop=True).to_frame()\
    .join(df[relevant_columns])\
    .rename(columns={0: 'programming_language'})
# Horrible programming style! But a lot of data science code can be written with
# as concatenations of functions (pipelines), and there's no elegant way of
# doing that on Python.
df_lang[:5]

  programming_language  ... cured_programming_languages
0              ninguno  ...                   [ninguno]
1                 html  ...  [html, javascript, python]
1           javascript  ...  [html, javascript, python]
1               python  ...  [html, javascript, python]
2              ninguno  ...                   [ninguno]

[5 rows x 5 columns]

##Seleccionar las filas relevantes para analizar. 
Esto incluye la eliminación de valores extremos y erróneos, pero también puede enfocar el análisis en una sub-población. Por ejemplo, se pueden limitar a personas con un salario mayor que 10000 pesos, o a las personas que trabajan sólo en "Data Science", pero deben justificar su elección y reformular la pregunta inicial de ser necesario.
* Obtener una lista de los lenguajes de programación más populares. Decidir cuántos y cuáles seleccionan para incluir en el análisis.
* Para cada una de las otras columnas del punto anterior, elegir los rangos o valores seleccionan para incluir en el análisis.

### Análisis de sub-población

* Seleccionaría de la columna word_role solo desarrolladores ya que consideramos que es la subpobablación cuyo salarío tiene relación directa con su expertise en programación.

In [75]:
df_lang_work=df_lang[df_lang['work_role']=='Developer']
language_count = df_lang_work.programming_language.value_counts()\
    .reset_index()\
    .rename(columns={'index': 'language', 'programming_language': 'frequency'})
most_importan_lang=language_count[:10]
most_importan_lang

     language  frequency
0  javascript       1584
1        html       1089
2         sql        994
3         css        829
4        java        771
5  typescript        566
6        .net        467
7          c#        445
8         php        412
9      python        386